.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: calc(20% - 48px);
    background-color: var(--secondaryDark);
    color: var(--white);
    padding: 24px 0px 24px 24px;
}

.menu .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 88px;
}


.menu .link:not(.link--error),
.menu .link:not(.link--error):visited {
    display: flex;
    gap: 16px;
    font-family: var(--ffMMe);
    font-size: .875rem;
    color: var(--white);
    align-items: center;
}

.menu .bottom {
    position: fixed;
    bottom: 24px;
    display: flex;
    gap: 16px;
    font-family: var(--ffMMe);
    background-color: var(--other);
    border-radius: var(--br);
    padding: 10px 14px;
    font-size: .875rem;
    color: var(--white);
    align-items: center;
}

.menu .bottom > .link {
    font-family: var(--ffMMe);
    font-size: .875rem;
}

.menu .link--error {
    display: none;
}

.menu .bottom > .identity {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu .bottom > .identity .corps {
    color: var(--white);
    font-family: var(--ffMRe);
    font-size: .75rem;
}

.menu .bottom > .identity .corps:first-child {
    font-family: var(--ffMMe);
    font-size: .875rem;
}

.menu .icon--logo {
    width: 40px;
}

.menu .icon {
    filter: brightness(0) invert(1);
}